html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

div.hangman {
  position: relative;
  left: 0;
  flex: 1 0 auto;
  transition: left 0.3s ease-in-out;
}

div.hangman.slide {
  left: 200px;
}

nav {
  position: relative;
  z-index: 1;

  height: 45px;
  background-color: steelblue;
  text-align: center;
}
h4.category {
  padding: 8px;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: normal;
  margin: 0;
}

ul {
  color: #fff;
  padding-top: 0;
  background-color: steelblue;
  text-align: left;
  padding-left: 0;
  position: absolute;
  list-style: none;
  top: 29px;
  transition: left 0.3s ease-in-out;
}

ul.collapsed {
  /* top: -340px; */
  left: -200px;
}
li {
  letter-spacing: 1px;
  border: 1px solid steelblue;
  padding: 5px 8px;
  cursor: pointer;
}

li {
  border-top: 2px solid silver;
  border-right: 2px solid silver;
  border-left: 2px solid silver;
}

li:hover {
  color: steelblue;
  background-color: #fff;
}

/* span.correct {
  color: green;
}

span.wrong {
  color: red;
} */

.message.lose::after {
  color: red;
  content: 'You have been hanged!';
}

.message.survived::after {
  color: green;
  content: 'You survived by a thread!';
}
.message.win::after {
  color: green;
  content: 'You win!';
}

div.game {
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}
h3 {
  margin-top: 30px;
  font-weight: normal;
}

canvas {
  margin-left: 115px;
}

p#answerText {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px;
}

p#questionText {
  line-height: 1.5rem;
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
}

button {
  opacity: 0;
}

button.show {
  opacity: 1;
}

button {
  width: 100%;
  background-color: steelblue;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 2px solid steelblue;
}

button:hover {
  background-color: #fafafa;
  color: steelblue;
}

footer {
  flex-shrink: 0;
}
footer p {
  margin: 0;
  font-size: 80%;
  text-align: center;
  margin-bottom: 0.8rem;
  color: #333;
}

@media screen and (min-width: 960px) {
  h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  h4 {
    left: 8px;
  }
  ul {
    left: 0;
  }
  div.game {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: -270px; */
    max-width: 600px;
  }
  canvas {
    margin-left: 30px;
  }
  button {
    width: 265px;
  }
}
