body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

span.correct {
  color: green;
}

span.wrong {
  color: red;
}

.message.lose::after {
  color: red;
  content: 'You have been hanged!';
}

.message.survived::after {
  color: green;
  content: 'You survived by a thread!';
}
.message.win::after {
  color: green;
  content: 'You win!';
}

div.game {
  margin: 20px auto;
  padding: 0 20px;
}

h1,
h2 {
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}
h3 {
  margin-top: 30px;
  font-weight: normal;
}
canvas {
  margin-left: 115px;
}

p#answerText {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px;
}

p#questionText {
  line-height: 1.5rem;
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
}

button {
  opacity: 0;
}

button.show {
  opacity: 1;
}

button {
  width: 100%;
  background-color: steelblue;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 2px solid steelblue;
}

button:hover {
  background-color: #fafafa;
  color: steelblue;
}

@media screen and (min-width: 750px) {
  body {
    flex-direction: row;
  }

  div.game {
    margin-left: -250px;
    max-width: 600px;
  }
  canvas {
    margin-left: 30px;
  }
  button {
    width: 265px;
  }
}
